<div class="face-snap-card">
  <h1>{{ faceSnap.title }}</h1>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>

  <p *ngIf="faceSnap.location" >
    Photo prise à <strong>{{ faceSnap.location }}</strong>
  </p>

  <p>Créé le :  {{ faceSnap.createdDate }}</p>
  <p>
    <button (click)="onSnaps()">
      {{ btnText }}
    </button>
    🙂
    <strong [ngStyle]="{ background: 'rgb(0,' + faceSnap.snaps +   ',0)' }" style="color:white ">
      {{ faceSnap.snaps }}
    </strong>
  </p>
</div>
